<div class="formContainer">
  <div class="formWrapper">
    <div class="inputs">
      <h3>Book a demo</h3>
      <div class="input">
        <img class="pngIcons" src="../../../assets/user2.png" />
        <input placeholder="Name" type="text" />
      </div>
      <div class="input">
        <img class="pngIcons" src="../../../assets/email2.png" />
        <input placeholder="Email" type="text" />
      </div>
      <div class="input">
        <img class="pngIcons" src="../../../assets/mobileIcon.png" />
        <input placeholder="Mobile" type="number" />
      </div>
      <div class="input">
        <img class="pngIcons" src="../../../assets/otp2.png" />
        <input placeholder="OTP" type="number" />
      </div>
    </div>
    <div class="buttons">
      <button (click)="showMFunc()">Cancel</button>
      <button class="submit">Submit</button>
    </div>
  </div>
  <div class="img">
    <img src="assets/ro.webp" alt="" />
  </div>
</div>
