<div class="formContainer">
  <div class="formWrapper">
    <div class="inputs">
      <h3>Book a demo</h3>
      <div class="input">
        <i class="eva eva-person-outline"></i>
        <input placeholder="Name" type="text" autocomplete="off" />
      </div>
      <div class="input">
        <i class="eva eva-email-outline"></i>
        <input placeholder="Email" type="email" autocomplete="off" />
      </div>
      <div class="input">
        <i class="eva eva-smartphone-outline"></i>
        <input placeholder="Mobile" type="number" autocomplete="off" />
      </div>
      <div class="input">
        <i class="eva eva-lock-outline"></i>
        <input placeholder="OTP" type="password" autocomplete="off" />
      </div>
    </div>
    <div class="buttons">
      <button (click)="showMFunc()">Cancel</button>
      <button class="submit">Submit</button>
    </div>
  </div>
  <div class="img">
    <img src="assets/ro.webp" alt="" />
  </div>
</div>
