<div class="footerContainer" id="footer">
  <div class="footerWrapper">
    <div class="top">
      <div class="section">
        <h3>Products</h3>
        <ul>
          <li>Water Purifiers</li>
          <li>Water Purifiers</li>
          <li>Water Purifiers</li>
          <li>Water Purifiers</li>
          <li>Water Purifiers</li>
        </ul>
      </div>
      <div class="section">
        <h3>Products</h3>
        <ul>
          <li>Water Purifiers</li>
          <li>Water Purifiers</li>
          <li>Water Purifiers</li>
          <li>Water Purifiers</li>
          <li>Water Purifiers</li>
        </ul>
      </div>
      <div class="section">
        <h3>Products</h3>
        <ul>
          <li>Water Purifiers</li>
          <li>Water Purifiers</li>
          <li>Water Purifiers</li>
          <li>Water Purifiers</li>
          <li>Water Purifiers</li>
        </ul>
      </div>
    </div>
    <div class="middle">
      <div class="left">
        <h3>Payments Accepted</h3>
        <div class="imgContainer">
          <div class="img">
            <img src="assets/visa.svg" alt="" />
          </div>
          <div class="img">
            <img src="assets/master-card.svg" alt="" />
          </div>
          <div class="img">
            <img src="assets/upi.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="right">
        <h3>Follow Us</h3>
        <div class="imgContainer">
          <div class="img">
            <img src="assets/twitter.png" alt="" />
          </div>
          <div class="img">
            <img src="assets/instagram.png" alt="" />
          </div>
          <div class="img">
            <img src="assets/whatsapp.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <span>© 2023 KODAI RO WATER TECHNOLOGIES. All rights reserved.</span>
    </div>
  </div>
</div>
