<div class="headerContainer">
  <div class="headerSplit">
    <div class="brandLogo">
      <img src="assets/kodai_logo.png" routerLink="" alt="" srcset="" />
      <span class="brandTitle">KODAI RO WATER TECHNOLOGIES</span>
    </div>
  </div>
  <div class="headerSplit"></div>
  <div class="headerSplit">
    <div
      class="navButton"
      [ngClass]="currentActive === 'home' ? 'makeActive' : ''"
    >
      <a href="#" (click)="handleActive($event)" name="home"
        ><h3 class="options">Home</h3></a
      >
    </div>
    <div
      class="navButton"
      [ngClass]="currentActive === 'products' ? 'makeActive' : ''"
    >
      <a href="#products" (click)="handleActive($event)" name="products"
        ><h3 class="options">Products</h3></a
      >
    </div>
    <div
      class="navButton"
      (mouseover)="handleMouseOver($event)"
      [ngClass]="currentActive === 'aboutus' ? 'makeActive' : ''"
    >
      <a href="#" (click)="handleActive($event)" name="aboutus"
        ><h3 class="options">About Us</h3></a
      >
    </div>
    <div
      class="navButton"
      (click)="showMFunc()"
      [ngClass]="currentActive === 'contactus' ? 'makeActive' : ''"
    >
      <a (click)="handleActive($event)" name="contactus"
        ><h3 class="options">Contact Us</h3></a
      >
    </div>
  </div>
</div>
