<div class="headerContainer">
  <div class="headerSplit">
    <div class="brandLogo">
      <img src="assets/logo.png" routerLink="" alt="" srcset="" />
      <span>Brand</span>
    </div>
  </div>
  <div class="headerSplit"></div>
  <div class="headerSplit">
    <div class="navButton">
      <a href="#"><h3 class="options">Home</h3></a>
    </div>
    <div class="navButton">
      <a href="#products"><h3 class="options">Products</h3></a>
    </div>
    <div class="navButton">
      <a href="#"><h3 class="options">About Us</h3></a>
    </div>
    <div class="navButton">
      <a href="#footer"><h3 class="options">Contact Us</h3></a>
    </div>
  </div>
</div>
