.moveToTop {
  position: fixed;
  bottom: -100px;
  right: 30px;
  transition: all 0.5s;
  img {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
}

.moveToTop .Tooltip {
  visibility: hidden;
  opacity: 0;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.moveToTop .Tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.moveToTop:hover .Tooltip {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s;
}

.showIconAnimation {
  opacity: 1;
}

.homeContainer {
  background-color: rgb(249, 249, 249);

  // margin: 0 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 100%;
  padding-bottom: 50px;
  .homeCard:hover {
    transition: all 0.3s;
    box-shadow: inset 0 4px 8px 0 rgba(40, 50, 231, 0.1),
      0 6px 20px 0 rgba(64, 81, 236, 0.1);
  }
  .homeCard {
    margin: 0 130px;
    height: 100%;
    padding: 50px 0;
    box-shadow: 0 4px 8px 0 rgba(40, 50, 231, 0.1),
      0 6px 20px 0 rgba(64, 81, 236, 0.1);
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    .left {
      padding-left: 100px;
    }
    .right {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 50%;
        height: 50%;
        object-fit: contain;
      }
    }
  }
}
