<div class="homeContainer">
  <div class="carousal">
    <div class="banner">
      <img src="assets/{{ newimg }} " alt="" />
    </div>
  </div>
  <div class="homeWrapper"></div>

  <div>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam aut eum
      excepturi doloremque natus adipisci in rem laudantium nisi necessitatibus,
      incidunt sequi eligendi esse illo ipsa. Id, a! Qui, aliasp>
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam aut eum
      excepturi doloremque natus adipisci in rem laudantium nisi necessitatibus,
      incidunt sequi eligendi esse illo ipsa. Id, a! Qui, alias.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam aut eum
      excepturi doloremque natus adipisci in rem laudantium nisi necessitatibus,
      incidunt sequi eligendi esse illo ipsa. Id, a! Qui, alias.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam aut eum
      excepturi doloremque natus adipisci in rem laudantium nisi necessitatibus,
      incidunt sequi eligendi esse illo ipsa. Id, a! Qui, alias.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam aut eum
      excepturi doloremque natus adipisci in rem laudantium nisi necessitatibus,
      incidunt sequi eligendi esse illo ipsa. Id, a! Qui, alias.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam aut eum
      excepturi doloremque natus adipisci in rem laudantium nisi necessitatibus,
      incidunt sequi eligendi esse illo ipsa. Id, a! Qui, alias.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam aut eum
      excepturi doloremque natus adipisci in rem laudantium nisi necessitatibus,
      incidunt sequi eligendi esse illo ipsa. Id, a! Qui, alias.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam aut eum
      excepturi doloremque natus adipisci in rem laudantium nisi necessitatibus,
      incidunt sequi eligendi esse illo ipsa. Id, a! Qui, alias.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam aut eum
      excepturi doloremque natus adipisci in rem laudantium nisi necessitatibus,
      incidunt sequi eligendi esse illo ipsa. Id, a! Qui, alias.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam aut eum
      excepturi doloremque natus adipisci in rem laudantium nisi necessitatibus,
      incidunt sequi eligendi esse illo ipsa. Id, a! Qui, alias.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam aut eum
      excepturi doloremque natus adipisci in rem laudantium nisi necessitatibus,
      incidunt sequi eligendi esse illo ipsa. Id, a! Qui, alias.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam aut eum
      excepturi doloremque natus adipisci in rem laudantium nisi necessitatibus,
      incidunt sequi eligendi esse illo ipsa. Id, a! Qui, alias.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam aut eum
      excepturi doloremque natus adipisci in rem laudantium nisi necessitatibus,
      incidunt sequi eligendi esse illo ipsa. Id, a! Qui, alias.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam aut eum
      excepturi doloremque natus adipisci in rem laudantium nisi necessitatibus,
      incidunt sequi eligendi esse illo ipsa. Id, a! Qui, alias.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam aut eum
      excepturi doloremque natus adipisci in rem laudantium nisi necessitatibus,
      incidunt sequi eligendi esse illo ipsa. Id, a! Qui, alias.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam aut eum
      excepturi doloremque natus adipisci in rem laudantium nisi necessitatibus,
      incidunt sequi eligendi esse illo ipsa. Id, a! Qui, alias.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam aut eum
      excepturi doloremque natus adipisci in rem laudantium nisi necessitatibus,
      incidunt sequi eligendi esse illo ipsa. Id, a! Qui, alias.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam aut eum
      excepturi doloremque natus adipisci in rem laudantium nisi necessitatibus,
      incidunt sequi eligendi esse illo ipsa. Id, a! Qui, alias.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam aut eum
      excepturi doloremque natus adipisci in rem laudantium nisi necessitatibus,
      incidunt sequi eligendi esse illo ipsa. Id, a! Qui, alias.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam aut eum
      excepturi doloremque natus adipisci in rem laudantium nisi necessitatibus,
      incidunt sequi eligendi esse illo ipsa. Id, a! Qui, alias.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam aut eum
      excepturi doloremque natus adipisci in rem laudantium nisi necessitatibus,
      incidunt sequi eligendi esse illo ipsa. Id, a! Qui, alias.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam aut eum
      excepturi doloremque natus adipisci in rem laudantium nisi necessitatibus,
      incidunt sequi eligendi esse illo ipsa. Id, a! Qui, alias.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam aut eum
      excepturi doloremque natus adipisci in rem laudantium nisi necessitatibus,
      incidunt sequi eligendi esse illo ipsa. Id, a! Qui, alias.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam aut eum
      excepturi doloremque natus adipisci in rem laudantium nisi necessitatibus,
      incidunt sequi eligendi esse illo ipsa. Id, a! Qui, alias.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam aut eum
      excepturi doloremque natus adipisci in rem laudantium nisi necessitatibus,
      incidunt sequi eligendi esse illo ipsa. Id, a! Qui, alias.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam aut eum
      excepturi doloremque natus adipisci in rem laudantium nisi necessitatibus,
      incidunt sequi eligendi esse illo ipsa. Id, a! Qui, alias.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam aut eum
      exepturidoloremque natus adipisci in rem laudantium nisi necessitatibus,
      incidunt sequi eligendi esse illo ipsa. Id, a! Qui, alias.
    </p>
  </div>
  <div
    class="moveToTop"
    [ngClass]="{ showIconAnimation: showIcon, notShowAnimation: notShowIcon }"
  >
    <span class="Tooltip">Move to top</span>

    <img src="assets/up-arrow-blue.png" alt="" (click)="scrollToTop()" />
  </div>
</div>
